<a href="https://colab.research.google.com/github/alfaresyacantika/KKASmt1/blob/main/1_Fungsi_print_Alfaresya_C_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Menampilkan Teks Bebas

In [ ]:
print("Halo dunia ")

Halo dunia

In [ ]:
print("selamat datang di Python")

selamat datang di Python

In [ ]:
print("Alfaresya Cantika")

Alfaresya Cantika

#Menampilkan Nilai Variabel

In [ ]:
BB = 46
print(BB)

46

In [ ]:
UMUR = 16
print(UMUR)

16

In [ ]:
nama = "Alfaresya Cantika"

#Menampilkan Teks Bebas dan Variabel

In [ ]:
print(f"umur saya {UMUR} tahun")

umur saya 16 tahun

In [ ]:
print("Halo " + nama)

Halo Alfaresya Cantika

#Menampilkan Variabel dan Teks Bebas

In [ ]:
harga_telur = 26000

print("Harga telur per 1 kg adalah", harga_telur)

Harga telur per 1 kg adalah 26000

In [ ]:
harga_telur = 26000


print("Harga telur per 1 kg adalah " + str(harga_telur))

Harga telur per 1 kg adalah 26000

In [ ]:
nama_pembeli = "Alfaresya"

print("nama pembeli telur adalah " + nama_pembeli)

nama pembeli telur adalah Alfaresya

Latihan Soal

1. Tampilkan teks bebas : Hari ini saya bahagia belajar bahasa python
2. Tampilkan nilai variabel : mata_pelajaran_favorit = Kode dan kecerdasan Buatan
3. Tampilkan nilai variabel = nilai_kka = 100
4. Tampilkan teks bebas dan nilai variabel dengan tiga metode (f string, "+", ","): Nilai KKA saya adalah {nilai_kka} loh!"

In [ ]:
print("Hari ini saya bahagia belajar bahasa python")

Hari ini saya bahagia belajar bahasa python

In [ ]:
mata_pelajaran_favorit = "Kode dan Kecerdasan Buatan"
print(mata_pelajaran_favorit)

Kode dan Kecerdasan Buatan

In [ ]:
nilai_kka = "100"
print(nilai_kka)

100

In [ ]:
print("Nilai KKA saya adalah " , nilai_kka + " loh!")

Nilai KKA saya adalah  100 loh!

In [ ]:
print("Nilai KKA saya adalah " + str(nilai_kka) + " loh!")

Nilai KKA saya adalah 100 loh!

In [ ]:
print(f"Nilai KKA saya adalah {nilai_kka} loh!")

Nilai KKA saya adalah 100 loh!

#Escape Character

In [ ]:
print("Nama: Alfaresya Cantika")
print ("Kelas: XI.1")
print("Nomor absen: 02")

Nama: Alfaresya Cantika
Kelas: XI.1
Nomor absen: 02

In [ ]:
print("Nama: Alfaresya Cantika\nKelas: XI.1\nNomor absen: 02")

Nama: Alfaresya Cantika
Kelas: XI.1
Nomor absen: 02

In [ ]:
print("""Nama: Alfaresya Cantika
Kelas: XI.1
Nomor absen: 02""")

Nama: Alfaresya Cantika
Kelas: XI.1
Nomor absen: 02

In [ ]:
print("Nama\t\t: Alfaresya Cantika\nKelas\t\t: XI.1\nNomor absen\t: 02")

Nama		: Alfaresya Cantika
Kelas		: XI.1
Nomor absen	: 02

In [ ]:
print('Ja\'far Shodiq')

Ja'far Shodiq

In [ ]:
print("Ja'far Shodiq")

Ja'far Shodiq

In [ ]:
print("Bu Shinta berkata, \"Semua harus menyimak pelajaran.\"")

Bu Shinta berkata, "Semua harus menyimak pelajaran."

In [ ]:
print('Bu Shinta berkata, "Semua harus menyimak pelajaran. "')

Bu Shinta berkata, "Semua harus menyimak pelajaran. "

In [ ]:
print("Lokasi file video karnaval ada di D:\\Karnaval 2025\\mp4")

Lokasi file video karnaval ada di D:\Karnaval 2025\mp4

#Parameter Fungsi Print

In [ ]:
Tahun = 2009
Bulan = "Mei"
Tanggal = 24

print(Tanggal, end=" ")
print(Bulan, end=" ")
print(Tahun)

24 Mei 2009

In [ ]:
Tahun = 2009
Bulan = "Mei"
Tanggal = 24

print(Tanggal, Bulan, Tahun, sep="/")

24/Mei/2009

Latihan:

Tanggal-Bulan-Tahun

In [ ]:
Nama_depan = "Alfaresya"
Nama_belakang = "Cantika"

print(Nama_depan, Nama_belakang)

Alfaresya Cantika

In [ ]:
Nama_depan = "Alfaresya"
Nama_belakang = "Cantika"

print(Nama_depan, end=" ")
print(Nama_belakang)

Alfaresya Cantika

In [ ]:
print("Bu shinta berkata, \"Berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan dilaptop masing masing di folder local disk D:\\Jadwal Pelajaran\\Kelas XI Semester 1.\"")
print("\nJadwal Pelajaran Mingguan")
print("======================================================")
print("Jam\tSenin\t\tSelasa\t\tRabu")
print("Jam 1\tMatematika\tBahasa\t\tInformatika")
print("Jam 2\tBahasa Ing.\tSejarah\t\tMa'rifatullah")
print("Jam 3\tInformatika\tOlahraga\tBiologi")

Bu shinta berkata, "Berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan dilaptop masing masing di folder local disk D:\Jadwal Pelajaran\Kelas XI Semester 1."

Jadwal Pelajaran Mingguan
======================================================
Jam	Senin		Selasa		Rabu
Jam 1	Matematika	Bahasa		Informatika
Jam 2	Bahasa Ing.	Sejarah		Ma'rifatullah
Jam 3	Informatika	Olahraga	Biologi

#Parameter Fungsi

In [ ]:
nama_siswa_1 = "Favian"
nama_siswa_2 = "Naufal"
nama_siswa_3 = "Humaira"

print(nama_siswa_1, nama_siswa_2, nama_siswa_3, sep= "*")

Favian*Naufal*Humaira

In [ ]:
nama_siswa = "Naufal~Favian~Humaira~Favian"
print(nama_siswa, sep= " ")

Naufal~Favian~Humaira~Favian

In [ ]:
nama_siswa_1 = "Naufal"
nama_siswa_2 = "Favian"
nama_siswa_3 = "Humaira"
nama_siswa_4 = "Favian"

print(nama_siswa_1, end= "~")
print(nama_siswa_2)

print(nama_siswa_3, end= "~")
print(nama_siswa_4)

Naufal~Favian
Humaira~Favian