<a href="https://colab.research.google.com/github/alfaresyacantika/KKASmt1/blob/main/2_Tipe_Variabel_Alfaresya_C_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama: Alfaresya Cantika

Kelas: XI.1

No. Absen: 02

#Konsep Dasar

In [ ]:
email_user_1 = "alfaresyacantika.2025@gmail.com"

print(email_user_1)

alfaresyacantika.2025@gmail.com

In [ ]:
sabun_lifebuoy = 15000

print(sabun_lifebuoy)

15000

In [ ]:
print(sabun_lifebuoy*5)

75000

#Peraturan Penulisan Variabel

In [ ]:
#Penulisan variabel hanya boleh menggunakan huruf, angka dan underscore
#Tidak boleh menggunakan spasi
nama siswa = "Alfa"

print(nama siswa)

SyntaxError: invalid syntax (ipython-input-3891390193.py, line 3)

In [ ]:
#Tidak boleh diawali dengan angka

1_nama_siswa = "Alfa"

print(1_nama_siswa)

SyntaxError: invalid decimal literal (ipython-input-833245906.py, line 3)

In [ ]:
#Penulisan variabel itu case sensitive/sensitif capslock
nama_siswa_1 = "Alfa"

print(Nama_siswa_1)

NameError: name 'Nama_siswa_1' is not defined

In [ ]:
#Dilarang menggunakan kata kunci di Bahasa Python
prin = "Alfa"

print(prin)

Alfa

In [ ]:
end = "Alfa"

print(end)

Alfa

In [ ]:
#Deskriptif
_ = "Alfa"

print(_)

Alfa

In [ ]:
# Tidak boleh pakai kata kunci Python
# Kalau error, harus disconnect dulu
# print = "Alfa"

# print(print)

#Assignment

##Single Assignment

In [ ]:
nama_siswa_2 = "Dhapne"
nama_siswa_3 = "Farel"
print(nama_siswa_2)
print(nama_siswa_3)

Dhapne
Farel

##Multiple Assignment

In [ ]:
nama_siswa_4,nama_siswa_5 = "Sada","Shello"

print(nama_siswa_4)
print(nama_siswa_5)

Sada
Shello

##Assign ke Banyak Variabel Sekaligus

In [ ]:
nilai_afa = nilai_favian = 100

print(nilai_afa)
print(nilai_favian)

100
100

##Perubahan Nilai Variabel

In [ ]:
nilai_afa = 95
print(nilai_afa)

95

#Latihan Soal: Harga Barang di Swalayan

##Single Assignment

In [ ]:
harga_susu = "Rp15.000"
harga_roti = "Rp12.000"
harga_telur = "Rp24.000"

print(harga_susu)
print(harga_roti)
print(harga_telur)

Rp15.000
Rp12.000
Rp24.000

##Multiple Assignment

In [ ]:
harga_gula, harga_minyak = "Rp14.000","Rp20.000"

print(harga_gula)
print(harga_minyak)

Rp14.000
Rp20.000

##Pengisian Nilai Sama

In [ ]:
mie_ayam = mie_soto = mie_kari = "Rp3.500"

print(mie_ayam)
print(mie_soto)
print(mie_kari)

Rp3.500
Rp3.500
Rp3.500

##Swap (Tukar Nilai)

In [ ]:
harga_susu = "Rp12.000"
harga_roti = "Rp15.000"
print(harga_susu)
print(harga_roti)

Rp12.000
Rp15.000

##Perubahan Nilai Variabel

In [ ]:
harga_telur = "Rp2.000"
harga_minyak = "Rp3.000"
print(harga_telur)
print(harga_minyak)

Rp2.000
Rp3.000

#Aritmatika

In [ ]:
print("5000*3")

5000*3

In [ ]:
#operand tanpa disimpan dalam variabel
print(5000*3)

15000

In [ ]:
#simpan operand ke dalam variabel
harga_kojek = 6000
banyak_porsi = 3

print(harga_kojek*banyak_porsi)

18000

In [ ]:
#simpan hasil operasi ke dalam variabel
harga_total_kojek = 3000*3

print(harga_total_kojek)

9000

In [ ]:
#simpan nilai operand dan hasil operasi ke dalam variabel
harga_cilok = 10000
jumlah_porsi_cilok = 5
harga_total_cilok = harga_cilok*jumlah_porsi_cilok

print(harga_total_cilok)

50000

In [ ]:
uang_yang_diterima = 100000
uang_kembalian = uang_yang_diterima - harga_total_cilok

print(uang_kembalian)

50000

In [ ]:
print(24*3)

72

In [ ]:
total_jumlah_botol = 24*3

print(total_jumlah_botol)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3

print(banyak_botol_per_kardus*jumlah_kardus)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3
total_jumlah_botol = banyak_botol_per_kardus*jumlah_kardus

print(total_jumlah_botol)

72

#Tipe Variabel

In [ ]:
usia = 65

type(usia)

int

In [ ]:
berat_telur = 2.5

type(berat_telur)

float

In [ ]:
nama = "alfaresya"

type(nama)

str

In [ ]:
remidi = False

type(remidi)

bool

In [ ]:
remidi = True

type(remidi)

bool

In [ ]:
koordinat_bintang = -1.5

type(koordinat_bintang)

float

In [ ]:
koordinat_titik = -8

type(koordinat_titik)

int

#Input

In [ ]:
panjang = 10
lebar = 5
luas = panjang*lebar

print(luas)

50

In [ ]:
input()

10

'10'

In [ ]:
panjang = input()

10

In [ ]:
print(panjang)

10

In [ ]:
lebar = input()

5

In [ ]:
print(lebar)

5

In [ ]:
luas = panjang*lebar

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
type(panjang)

str

In [ ]:
type(lebar)

str

In [ ]:
panjang = int(panjang)

In [ ]:
lebar = int(lebar)

In [ ]:
type(panjang)

int

In [ ]:
panjang_1 = int(input("Masukkan panjang persegi: "))

Masukkan panjang persegi: 10

In [ ]:
panjang_2 = int(input("Masukkan panjang persegi: "))
lebar_2 = int(input(" Masukkan lebar persegi: "))

luas_2 = panjang_2*lebar_2

print(f"Luas persegi panjang adalah {luas_2} cm^2")

Masukkan panjang persegi: 4
 Masukkan lebar persegi: 10
Luas persegi panjang adalah 40 cm^2

In [ ]:
panjang = int(input("Masukkan panjang balok: "))
lebar = int(input("Masukkan lebar balok: "))
tinggi = int(input("Masukkan tinggi balok: "))

volume = panjang*lebar*tinggi

print(f"volume balok adalah {volume} cm^3")

Masukkan panjang balok: 10
Masukkan lebar balok: 5
Masukkan tinggi balok: 4
volume balok adalah 200 cm^3

#Konversi Tipe Data

In [ ]:
a = 3
print(a)
type(a)

3

int

In [ ]:
a = float(a)
print(a)
type(a)

3.0

float

In [ ]:
a = str(a)
print(a)
type(a)

3.0

str

In [ ]:
a = bool(a)
print(a)
type(a)

True

bool

In [ ]:
b = "cicak"
print(b)

b = bool(b)
print(b)

cicak
True

In [ ]:
c = ""
print(c)

c = bool(c)
print(c)

False

In [ ]:
d = False
print(d)
type(d)

False

bool

In [ ]:
e = "False"
print(e)
type(e)

False

str

#operator perbandingan

In [1]:
print(8<5)

False

In [2]:
print(8>5)

True

In [3]:
print(9>=9)

True

In [4]:
print(8 == 5)

False

In [5]:
print(8 == 8)

True

In [7]:
print(1 != 1)

False

In [8]:
a = 10
b = 20
c = 30

print(a>c)

False

In [10]:
print(a>30)

False

In [9]:
nilai_kka = 75
kkm_kka = 80

print(nilai_kka > kkm_kka)

False

#operator logika

In [11]:
print(8>7 and 5>6)

False

In [12]:
print(8>7 and 5<6)

True

In [13]:
print(8>7 or 5>6)

True

In [15]:
print(not(8>7 or 5>6))

False

In [17]:
print(not(8>=9 or 9!=8))

False

In [18]:
iq_min = 125
tinggi_min = 165

print(125 >=iq_min and 170 >=tinggi_min)

True

In [19]:
iq_alfa = 125
tinggi_alfa = 170

print(iq_alfa >=iq_min and tinggi_alfa >=tinggi_min)

True

In [21]:
tinggi_min = 165
berat_min  = 50
umur_max   = 25

tinggi_farel = 170
berat_farel  = 55
umur_farel   = 23

print(tinggi_farel >= tinggi_min and berat_farel >= berat_min and umur_farel <= umur_max)

True